* {
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

header .fa-arrow-left {
  font-size: 25px;
  margin: 0px 0px 0px 40px;
  padding-top: 20px;
}

header .Logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .logo {
  height: 35px;
  margin-top: -35px;
  margin-bottom: 10px;
}

.boite {
  margin-top: -100px;
  background-color: #e4e3e3;
  width: 100%;
  border-radius: 50px 50px 0 0;
  padding: 0px 20px 0 20px;
  position: relative;
}

.boite h1 {
  font-size: 30px;
  font-weight: bolder;
  padding-top: 50px;
  padding-left: 10px;
  font-family: 'Shrikhand', cursive;
}

.boite .fa-heart {
  font-size: 30px;
  position: absolute;
  right: 45px;
  top: 60px;
}

.boite h2 {
  font-size: 20px;
  font-weight: normal;
}

.boite a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.boite .div1 {
  border: #f2f2f2;
  border-radius: 10px;
  background: white;
  width: 100%;
  background: white;
  margin: 20px 0 20px 0;
  -webkit-box-shadow: lightgrey 5px 5px 20px;
          box-shadow: lightgrey 5px 5px 20px;
  min-height: 70px;
}

.boite .flex {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.boite .prix {
  width: 60px;
  text-align: center;
  margin-top: 40px;
  margin-right: 10px;
  font-weight: bolder;
  font-size: 18px;
  color: black;
}

.boite h3 {
  font-size: 20px;
  color: black;
  font-weight: bolder;
  margin: 10px 0 0 10px;
  text-decoration: unset;
}

.boite h4 {
  margin: unset;
  font-size: 17px;
  color: black;
  text-decoration: unset;
  font-weight: normal;
  margin: 5px 0 0 10px;
}

.boite .centre {
  text-align: center;
}

.boite .commander {
  font-size: 25px;
  font-weight: normal;
  color: white;
  margin-top: 50px;
  margin-bottom: 60px;
  padding: 15px 50px 15px 50px;
  border-radius: 40px;
  border: unset;
  cursor: pointer;
  background: linear-gradient(5deg, #ff79da 0%, #9356dc 100%);
}

footer {
  border: solid black;
  background-color: black;
  width: 100%;
  min-height: 150px;
}

footer i {
  color: white;
}

footer .logofooter {
  font-size: 18px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  font-family: 'Shrikhand', cursive;
  color: white;
}

footer .fa-utensils {
  margin-left: 10px;
  font-size: 13px;
}

footer .fa-handshake {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 13px;
}

footer .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .proposer {
  font-size: 13px;
  margin-bottom: 5px;
  padding-left: 10px;
  color: white;
  text-decoration: unset;
  font-weight: normal;
}

footer .propose {
  font-size: 13px;
  margin-left: 10px;
  margin-top: 5px;
  color: white;
  text-decoration: unset;
  font-weight: normal;
}

@media screen and (max-width: 700px) {
  .background {
    height: 700px;
    width: 50%;
    background-size: contain;
  }
  .boite {
    margin-top: -520px;
  }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
  .background {
    height: 750px;
    background-size: contain;
  }
  .boite {
    margin-top: -350px;
  }
}
/*# sourceMappingURL=menu.css.map */