* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {

    .fa-arrow-left {
        font-size: 25px;
        margin: 0px 0px 0px 40px;
        padding-top: 20px;
    }

    .Logo {
        display: flex;
        justify-content: center;
    }

    .logo {
        height: 32px;
        margin-top: -30px;
        margin-bottom: 10px;
    }
}

    .background {
        width: 100%;
        min-height: 720px;
        background-size: cover; 
        transition: 2s;
    }

    .restaurant1 {
        background-image: url(images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    }

    .restaurant2 {
        background-image: url(images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    }
    .restaurant3 {
        background-image: url(images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    }

    .restaurant4 {
        background-image: url(images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    }

.boite {
    margin-top: -100px;
    background-color: rgb(228, 227, 227);
    width: 100%;
    border-radius: 50px 50px 0 0;
    padding: 0px 20px 0 20px;
    position: relative;
    

    h1 {   
        font-size: 28px;
        font-weight: bolder;
        padding-top: 50px;
        padding-left: 10px;
        font-family: 'Shrikhand', cursive;
    }

    .fa-heart {
        font-size: 28px;
        position: absolute;
        right: 45px;
        top: 60px; 
    }

    h2 {
        font-size: 20px;
        font-weight: normal;
    }

    a {
        text-decoration: none;
        display: flex;
    }
    
    .div1 {
        border: #f2f2f2;
        border-radius: 10px;
        background: white;
        width: 100%;
        background: white;
        margin: 20px 0 20px 0;
        box-shadow: lightgrey 5px 5px 20px;
        min-height: 70px;
        transition: 2s;
    }

    .div1:hover {
        transition: 3s;
        padding: 15px 0 15px 0;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    
    .flex {
        flex: 1;
    }
    
    .prix {
        width: 60px;
        text-align: center;
        margin-top: 40px;
        margin-right: 10px;
        font-weight: bolder;
        font-size: 18px;
        color: black;
        transition: 2s;
    }

    .prix:hover {
        font-size: 20px;
        margin-right: 50px;
    }

    h3 {
        font-size: 20px;
        color: black;
        font-weight: bolder;
        margin: 10px 0 0 10px;
        text-decoration:unset;
        transition: 2s;
    }

    h3:hover {
        font-size: 22px;
        transition: 3s;
    }
    
    h4 {
        margin: unset;
        font-size: 17px;
        color: black;
        text-decoration: unset;
        font-weight: normal;
        margin: 5px 0 0 10px;
    }

    .centre {
        text-align: center;
    }
    
    .commander {
        font-size: 25px;
        font-weight:normal;
        color: white;
        margin-top: 50px;
        margin-bottom: 60px;
        padding: 15px 50px 15px 50px;
        border-radius: 40px;
        border: unset;
        transition: 1.5s;
        background: linear-gradient(5deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
    }

    .commander:hover {
        transition: 2s;
        cursor: pointer;
        padding: 15px 90px 15px 90px;
        font-size: 28px;
    }
}

footer {
    border: solid black;
    background-color: black;
    width: 100%;
    min-height: 150px;

    i {
        color: white;
    }
    
    .logofooter {
        font-size: 18px;
        margin-top: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
        font-family: 'Shrikhand', cursive;
        color: white;
    }
    
    .fa-utensils {
        margin-left: 10px;
        font-size: 13px;
    }
    
    .fa-handshake {
        margin-left: 10px;
        margin-top: 10px;
        font-size: 13px;
    }
    
    .flex {
         display: flex;
         flex-direction: column;
    }
    
    .proposer {
        font-size: 13px;
        margin-bottom: 5px;
        padding-left: 10px;
        color: white;
        text-decoration: unset;
        font-weight: normal;
    }
    
    .propose {
        font-size: 13px;
        margin-left: 10px;
        margin-top: 5px;
        color: white;
        text-decoration: unset;
        font-weight: normal;
    }
}

@media screen and (max-width: 700px) {

    .background{
        height: 780px;
        background-size:contain;
        transition: 2s;
    }

    .boite {
        margin-top: -520px;  

        h1 {
            font-size: 25px;
        }

        .fa-heart {
            font-size: 25px;
            top: 56px; 
        }
    }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
    
    .background{
        height: 720px;
        background-size:contain;
        transition: 2s;
    }

    .boite {
        margin-top: -350px;  
    }
}