* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

.monloader {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99;
  background: #3f5efb;
  background: radial-gradient(circle, rgba(145, 70, 252, 0.5) 0%, #3f5efb 100%);
  -webkit-animation: 1s 5s 1 both disparait;
          animation: 1s 5s 1 both disparait;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.monloader .loader {
  width: 60px;
  height: 60px;
  position: relative;
  margin-top: 295px;
  background: #ffffff33;
  border: 10px solid white;
  border-right: 10px solid red;
  border-left: 10px solid blue;
  border-radius: 50%;
  -webkit-animation: 1s 0s infinite both disparait;
          animation: 1s 0s infinite both disparait;
}

@-webkit-keyframes disparait {
  to {
    opacity: 0;
    z-index: -10;
  }
  from {
    opacity: 1;
    z-index: 2;
  }
}

@keyframes disparait {
  to {
    opacity: 0;
    z-index: -10;
  }
  from {
    opacity: 1;
    z-index: 2;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .logo {
  height: 35px;
  padding: 15px;
}

.boite {
  background-color: #e4e3e3;
  width: 100%;
  padding-bottom: 80px;
}

.boite .location {
  font-weight: lighter;
  font-size: 20px;
  width: calc(100% - 20px);
  background-color: lightgrey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0px 10px 45px;
}

.boite :placeholder-shown {
  font-size: 22px;
  background-color: lightgrey;
  border: none;
  margin-left: 10px;
  color: black;
}

.boite h1 {
  text-align: center;
  font-size: 29px;
  font-weight: bolder;
  margin-top: 40px;
}

.boite .soins {
  text-align: center;
  font-size: 23px;
  margin-left: 8px;
}

.boite .centre {
  text-align: center;
}

.boite .explorer {
  font-size: 25px;
  font-weight: normal;
  color: white;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 15px 35px 15px 35px;
  border-radius: 40px;
  border: unset;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-shadow: silver 5px 5px 20px;
          box-shadow: silver 5px 5px 20px;
  background: linear-gradient(5deg, #ff79da 0%, #9356dc 100%);
}

.boite .explorer:hover {
  cursor: pointer;
  padding: 25px 70px 25px 70px;
  font-size: 27px;
  -webkit-box-shadow: grey 5px 5px 20px;
          box-shadow: grey 5px 5px 20px;
  background: linear-gradient(5deg, #fbb1e7 0%, #b089df 100%);
}

.fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fonctionnement h2 {
  width: 100%;
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: bolder;
  text-align: center;
}

.fonctionnement .fon {
  font-size: 18px;
  width: calc(100% - 20px);
  text-align: left;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 20px;
  padding: 25px 0px 25px 0px;
  border-radius: 20px;
  border: #f2f2f2;
  -webkit-box-shadow: lightgrey 5px 5px 20px;
          box-shadow: lightgrey 5px 5px 20px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.fonctionnement .fon:hover {
  background-color: #e0bfe0;
  color: #9356DC;
  font-size: 22px;
  padding: 30px 0px 30px 0px;
  margin-top: 20px;
  -webkit-transition: 1s;
  transition: 1s;
}

.fonctionnement .fa-store {
  color: #9356DC;
}

.fonctionnement .un {
  color: white;
  font-size: 18px;
  margin-left: -10px;
  padding: 5px 10px 5px 10px;
  background-color: #9356DC;
  border-radius: 50%;
}

.fonctionnement .fa-mobile-alt {
  padding: 0 25px 0px 25px;
}

.fonctionnement .fa-list-ul {
  padding: 0 20px 0px 20px;
}

.fonctionnement .fa-store {
  padding: 0 20px 0px 20px;
}

.restaurant {
  font-size: 18px;
  background-color: #e4e3e3;
  padding: 5px;
  margin-top: 20px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.restaurant h2 {
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

.restaurant .div1 {
  border: #f2f2f2;
  border-radius: 10px;
  background: white;
  width: calc(100% - 30px);
  background: white;
  margin: 15px;
  margin-bottom: 55px;
  -webkit-box-shadow: lightgrey 5px 5px 20px;
          box-shadow: lightgrey 5px 5px 20px;
  position: relative;
}

.restaurant a {
  text-decoration: none;
}

.restaurant .div1 img {
  width: 100%;
  height: 180px;
  border-radius: 10px 10px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant .nouveau {
  width: 70px;
  font-size: 18px;
  padding: 5px 15px 5px 15px;
  border: green;
  background-color: lightseagreen;
  color: black;
  position: absolute;
  right: 20px;
  top: 20px;
}

.restaurant .Nouveau {
  width: 70px;
  font-size: 18px;
  padding: 5px 15px 5px 15px;
  border: green;
  background-color: lightseagreen;
  color: black;
  position: absolute;
  right: 20px;
  top: 20px;
}

.restaurant .monmenu {
  position: relative;
}

.restaurant a {
  color: black;
}

.restaurant h3 {
  font-size: 24px;
  color: black;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: unset;
  text-decoration: unset;
  position: relative;
}

.restaurant h4 {
  margin: unset;
  margin-left: 10px;
  font-size: 22px;
  color: black;
  margin-left: 10px;
  text-decoration: unset;
  font-weight: normal;
}

.moncoeur .far {
  font-size: 28px;
  position: absolute;
  right: 10px;
  top: 0px;
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

.moncoeur:hover .far {
  opacity: 0;
}

.moncoeur .fas {
  font-size: 28px;
  position: absolute;
  right: 10px;
  top: 0px;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  background: linear-gradient(5deg, #ff79da 0%, #9356dc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.moncoeur .fa-heart {
  font-size: 28px;
}

.moncoeur:hover .fas {
  opacity: 1;
}

.moncoeur .solides {
  background: linear-gradient(5deg, #ff79da 0%, #9356dc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
}

footer {
  background-color: black;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer i {
  color: white;
}

footer .logofooter {
  font-size: 18px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
  font-family: 'Shrikhand', cursive;
  color: white;
}

footer .fa-utensils {
  margin-left: 10px;
  font-size: 13px;
}

footer .fa-handshake {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 13px;
}

footer .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .proposer {
  font-size: 13px;
  margin-bottom: 5px;
  padding-left: 10px;
  color: white;
  text-decoration: unset;
  font-weight: normal;
}

footer .propose {
  font-size: 13px;
  margin-left: 10px;
  margin-top: 5px;
  color: white;
  text-decoration: unset;
  font-weight: normal;
}

@media screen and (min-width: 1000px) {
  .fonctionnement .fon {
    font-size: 20px;
    text-align: left;
    width: calc(33% - 30px);
    font-weight: bold;
    margin-left: 30px;
    margin-bottom: 20px;
    padding: 25px 0px 25px 0px;
    border-radius: 20px;
    border: #f2f2f2;
    -webkit-box-shadow: lightgrey 5px 5px 20px;
            box-shadow: lightgrey 5px 5px 20px;
    cursor: pointer;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .restaurant .div1 {
    padding-bottom: 10px;
    border: #f2f2f2;
    border-radius: 10px;
    background: white;
    width: calc(50% - 80px);
    background: white;
    margin: 40px;
    -webkit-box-shadow: lightgrey 5px 5px 20px;
            box-shadow: lightgrey 5px 5px 20px;
    position: relative;
  }
  .restaurant .div1 img {
    width: 100%;
    height: 180px;
    border-radius: 10px 10px 0 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
  footer {
    background-color: black;
    width: 100%;
    padding-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
  .logo {
    height: 35px;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .boite {
    background-color: #e4e3e3;
    width: 100%;
    padding-bottom: 80px;
  }
  .boite .location {
    font-weight: lighter;
    font-size: 18px;
    width: calc(100% - 45px);
    background-color: lightgrey;
    padding-left: 45px;
  }
  .boite h1 {
    text-align: center;
    font-size: 29px;
    font-weight: bolder;
    margin-top: 40px;
  }
  .boite .soins {
    text-align: center;
    font-size: 23px;
    margin-left: 8px;
  }
  .fonctionnement h2 {
    width: 100%;
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: bolder;
  }
  .fonctionnement .fon {
    font-size: 20px;
    text-align: left;
    width: calc(50% - 20px);
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 25px 0px 25px 0px;
    border-radius: 20px;
    border: #f2f2f2;
    -webkit-box-shadow: lightgrey 5px 5px 20px;
            box-shadow: lightgrey 5px 5px 20px;
    cursor: pointer;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .fonctionnement .fonc {
    font-size: 20px;
    text-align: left;
    width: calc(50% - 20px);
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 25px 0px 25px 0px;
    border-radius: 20px;
    border: #f2f2f2;
    -webkit-box-shadow: lightgrey 5px 5px 20px;
            box-shadow: lightgrey 5px 5px 20px;
    cursor: pointer;
    -webkit-transition: 1s;
    transition: 1s;
    position: relative;
    top: 0px;
    left: 28%;
  }
  .fonctionnement .fa-store {
    color: #9356DC;
  }
  .fonctionnement .un {
    color: white;
    font-size: 18px;
    margin-left: -10px;
    padding: 5px 10px 5px 10px;
    background-color: #9356DC;
    border-radius: 50%;
  }
  .fonctionnement .fa-mobile-alt {
    padding: 0 25px 0px 20px;
  }
  .fonctionnement .fa-list-ul {
    padding: 0 20px 0px 15px;
  }
  .fonctionnement .fa-store {
    padding: 0 20px 0px 20px;
  }
  .restaurant {
    background-color: #e4e3e3;
    width: calc(100% - 10px);
  }
  .restaurant h2 {
    margin-bottom: 30px;
    margin-top: 0px;
    margin-left: 20px;
  }
  .restaurant .div1 {
    padding-bottom: 10px;
    border: #f2f2f2;
    border-radius: 10px;
    background: white;
    width: calc(50% - 40px);
    background: white;
    margin: 20px;
    -webkit-box-shadow: lightgrey 5px 5px 20px;
            box-shadow: lightgrey 5px 5px 20px;
    position: relative;
  }
  .restaurant .div1 img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .restaurant .fa-heart {
    font-size: 28px;
  }
  footer {
    background-color: black;
    width: 100%;
    padding-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer i {
    color: white;
  }
  footer .logofooter {
    font-size: 18px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-family: Shrikhand;
    color: white;
  }
  footer .fa-utensils {
    margin-left: 10px;
    font-size: 13px;
  }
  footer .fa-handshake {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 13px;
  }
  footer .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .proposer {
    font-size: 13px;
    margin-bottom: 5px;
    padding-left: 10px;
    color: white;
    text-decoration: unset;
    font-weight: normal;
  }
  footer .propose {
    font-size: 13px;
    margin-left: 10px;
    margin-top: 5px;
    color: white;
    text-decoration: unset;
    font-weight: normal;
  }
  footer .proposes {
    font-size: 13px;
    margin-left: 10px;
    margin-top: 5px;
    color: white;
    text-decoration: unset;
    font-weight: normal;
  }
  footer .proposes:hover .address {
    opacity: 1;
  }
  footer .address {
    color: white;
    font-size: 20px;
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */